.immages {
    text-align: center;
    padding: 2em 0;
  }
  span {
    font-weight: bold;
  }
  .thanksgiving {
    text-align: center;
    background-color: lightgoldenrodyellow;
    padding-top: 2px;
    padding-bottom: 2px;
    border-top: 2px solid rgb(255, 189, 23);
  }
  h1 {
    text-align: center;
  }
  footer {
    padding: 0 20%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  footer a {
    color: rgb(51, 186, 248);
  }
  nav div {
    border-left: 2px solid rgb(255, 189, 23);
    padding-left: 1em;
  }
  nav p{
    margin: 0 0;

  } 
  .focaccia {
    padding: 20px 0;
    width: 100%;
  }
  .intro p {
    margin: 0 0;
  }
  .Sally {
    color: rosybrown;
    text-align: center;
  }
  main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
  .featured {
    color:rgb(255, 94, 0) ;
  }
  .cranberry {
    color: rgb(6, 156, 119);
  }
  h2 {
    border-bottom: 2em;
    font-weight: 500;
    border-bottom: 2px solid rgb(23, 228, 255);
    padding-bottom: 20px;
  }
  li {
    padding-bottom: 1em;
  }
  .ingredients {
    margin-top: 3em;
    margin-bottom: 2em;
    
  }
  li p {
    font-weight: 700;
    margin: 0 0;
  }
  .padding-focaccia {
    padding-left: 40px
  }